logs
project/project
project/target
.target
target
.DS_Store
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/data
s3credentials
*.class
conf/application.conf
/bin
/cache/
*~
nbproject
logentries.xml
application.conf
src/main/resources/git.properties