<div class="clearfix">
  <select id="group">
    {{#groups}}
      <option value="{{this}}">{{this}}</option>
    {{/groups}}
  </select>

  <select id="month">
    <option value="january">{{ I18n "shared.january" }}</option>
    <option value="february">{{ I18n "shared.february" }}</option>
    <option value="march">{{ I18n "shared.march" }}</option>
    <option value="april">{{ I18n "shared.april" }}</option>
    <option value="may">{{ I18n "shared.may" }}</option>
    <option value="june">{{ I18n "shared.june" }}</option>
    <option value="july">{{ I18n "shared.july" }}</option>
    <option value="august">{{ I18n "shared.august" }}</option>
    <option value="september">{{ I18n "shared.september" }}</option>
    <option value="october">{{ I18n "shared.october" }}</option>
    <option value="november">{{ I18n "shared.november" }}</option>
    <option value="december">{{ I18n "shared.december" }}</option>
  </select>

  <select id="year">
    {{#years}}
      <option value="{{this}}">{{this}}</option>
    {{/years}}
  </select>

  <div class="pull-right"><a href="/"><span class="glyphicon glyphicon-chevron-left"></span> {{ I18n "ledger.return-to-app" }}</a></div>
</div>


<div class="clearfix ledger-indicators">
  <div class="pull-left">
    {{ I18n "ledger.starting" }}
    <h3>{{ starting }}</h3>
  </div>

  <div class="pull-left">
    {{ I18n "ledger.ending" }}
    <h3>{{ ending }}</h3>
  </div>

  <div class="pull-left">
    {{ I18n "ledger.total" }}
    <h3>{{ total }}</h3>
  </div>

  <div class="pull-left">
    {{ I18n "ledger.single-point" }}
    <h3>{{ single }}</h3>
  </div>

  <div class="pull-left">
    {{ I18n "ledger.multi-point" }}
    <h3>{{ query }}</h3>
  </div>

  <div class="pull-left">
    {{ I18n "ledger.purchases" }}
    <h3>{{ purchase }}</h3>
  </div>

  <div class="pull-left">
    {{ I18n "ledger.refunds" }}
    <h3>{{ refund }}</h3>
  </div>
</div>

{{!-- keep clear of the purchase bar --}}
<table class="table table-striped" style="margin-bottom: 65px">
  <thead>
    <th>{{ I18n "ledger.date" }}</th>
    <th>{{ I18n "ledger.delta" }}</th>
    <th>{{ I18n "ledger.reason" }}</th>
    <th>{{ I18n "ledger.query-name" }}</th>
    <th>{{ I18n "ledger.username"}}</th>
    <th>{{ I18n "ledger.note" }}</th>
    <th>{{ I18n "ledger.issue-refund" }}</th>
  </thead>
  <tbody></tbody>
</table>

<div style="position: fixed; bottom: 0px; width: 100%; background: #fff; border-top: 1px solid #777; padding: 3px">
  <form>
    <label for="credit">{{ I18n "ledger.credit" }}</label>
    <input id="credit" type="number" />

    <label for="reason">{{ I18n "ledger.reason" }}</label>
    <select id="reason">
      <option value="PURCHASE">PURCHASE</option>
      <option value="QUERY_FAILED_REFUND">QUERY_FAILED_REFUND</option>
      <option value="OTHER_REFUND">OTHER_REFUND</option>
    </select>

    <label for="note">{{ I18n "ledger.note" }}</label>
    <input type="text" id="note" size="60"></input>

    <input type="submit" value="{{ I18n 'ledger.issue-credit' }}" />
  </form>
</div>
