<div class="pannel-header">
     <span class="glyphicon glyphicon-cog"></span> Single-point Analysis
</div>

<div id="detail" style="padding: 10px;">
     <div class="form-group">
     <label>{{I18n "analysis.shapefile"}}</label>
     <select id="shapefile" class="primary-indicator form-control"></select>

     <label>{{I18n "analysis.shapefile-field"}}</label>
     <select id="shapefileColumn" class="primary-indicator form-control"></select>
   </div>

	<div class="form-group">
     <label>{{I18n "analysis.scenario-comparison"}}</label>
		<select id="scenarioComparison" class="scenario-comparison form-control">
		  <option value="compare" {{#if compare}}selected{{/if}}>{{I18n "analysis.scenario.compare"}}</option>
		  <option value="no-comparison" selected{{#if noComparison}}selected{{/if}}>{{I18n "analysis.scenario.no-comparison"}}</option>
		</select>
	</div>

	<div class="form-group">
     <label>{{I18n "analysis.scenario-1"}}</label>
		<select id="scenario1" class="scenario-list form-control">
		</select>


		<div style="margin-top: 10px;" class="btn-group mode-selector" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="mode1" id="modeCar" value="CAR"><span class="icon icon-car"></span>
		  </label>
		  <label class="btn btn-default active">
		    <input type="radio" name="mode1" id="modeBus" value="WALK,TRANSIT"><span class="icon icon-pedestrian"></span> + <span class="icon icon-bus"></span>
		  </label>
		  <label class="btn btn-default">
			    <input type="radio" name="mode1" id="modeBus" value="BICYCLE,TRANSIT"><span class="icon icon-bike"></span> + <span class="icon icon-bus"></span>
			  </label>
		  <label class="btn btn-default">
		    <input type="radio" name="mode1" id="modeBike" value="BICYCLE"><span class="icon icon-bike"></span>
		  </label>
		  <label class="btn btn-default">
		    <input type="radio" name="mode1" id="modePed" value="WALK"><span class="icon icon-pedestrian"></span>
		  </label>
		</div>

    <div style="margin-top: 10px" class="form-group">
      <div class="btn-group mode-selector which1" data-toggle="buttons">
        <label class="btn btn-default">
          <input type="radio" name="which1" value="WORST_CASE" />
          {{ I18n "analysis.worst-case-option" }}
        </label>

        <label class="btn btn-default">
          <input type="radio" name="which1" value="POINT_ESTIMATE" />
          {{ I18n "analysis.point-estimate-option" }}
        </label>

        <label class="btn btn-default">
          <input type="radio" name="which1" value="BEST_CASE" />
          {{ I18n "analysis.best-case-option" }}
        </label>

        <label class="btn btn-default">
          <input type="radio" name="which1" value="SPREAD" />
          {{ I18n "analysis.spread-option" }}
        </label>
      </div>
    </div>
	</div>

	<div id="scenario2-controls">
		<div class="form-group">
     		<label>{{I18n "analysis.scenario-2"}}</label>
			<select id="scenario2" class="scenario-list form-control">
			</select>

			<div style="margin-top: 10px;" class="btn-group" data-toggle="buttons">
			  <label class="btn btn-default">
			    <input type="radio" name="mode2" id="modeCar" value="CAR"><span class="icon icon-car"></span>
			  </label>
			  <label class="btn btn-default active">
			    <input type="radio" name="mode2" id="modeBus" value="WALK,TRANSIT"><span class="icon icon-pedestrian"></span> + <span class="icon icon-bus"></span>
			  </label>
			  <label class="btn btn-default">
			    <input type="radio" name="mode2" id="modeBus" value="BICYCLE,TRANSIT"><span class="icon icon-bike"></span> + <span class="icon icon-bus"></span>
			  </label>
			  <label class="btn btn-default">
			    <input type="radio" name="mode2" id="modeBike" value="BICYCLE"><span class="icon icon-bike"></span>
			  </label>
			  <label class="btn btn-default">
			    <input type="radio" name="mode2" id="modePed" value="WALK"><span class="icon icon-pedestrian"></span>
			  </label>
			</div>
		</div>

    <div class="form-group">
      <div class="btn-group mode-selector which2" data-toggle="buttons">
        <label class="btn btn-default">
          <input type="radio" name="which2" value="WORST_CASE" />
          {{ I18n "analysis.worst-case-option" }}
        </label>

        <label class="btn btn-default">
          <input type="radio" name="which2" value="POINT_ESTIMATE" />
          {{ I18n "analysis.point-estimate-option" }}
        </label>

        <label class="btn btn-default">
          <input type="radio" name="which2" value="BEST_CASE" />
          {{ I18n "analysis.best-case-option" }}
        </label>

        <label class="btn btn-default">
          <input type="radio" name="which2" value="SPREAD" />
          {{ I18n "analysis.spread-option" }}
        </label>
      </div>
    </div>

	</div>


	<div class="form-group">
     	<label>Average Walk Speed: <span class="notes" id="walkSpeedValue"></span></label>
		<input id="walkSpeedSlider" data-slider-id="walkSpeedSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="40" data-slider-step="1" data-slider-value="5"/>
	</div>

	<div class="form-group">
     	<label>Average Bike Speed: <span class="notes" id="bikeSpeedValue"></span></label>
		<input id="bikeSpeedSlider" data-slider-id="bikeSpeedSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="40" data-slider-step="1" data-slider-value="15"/>
	</div>

</div>

<div class="pannel-header">
      Results
</div>


<div id="detail" style="padding: 10px;">

<h5>Scenario 1</h5>
<div id="barChart1"></div>

<div id="comparisonChart">
     <h5>Scenario 2</h5>
     <div id="barChart2"></div>
</div>

<div class="form-group">
     <label>Travel Time Range: <span class="notes" id="minTimeValue"></span>-<span class="notes" id="timeLimitValue"></span></label>

     <input id="timeSlider1" data-slider-id="timeSlider" style="width: 380px;" type="text" data-slider-min="0" data-slider-max="120" data-slider-step="5" data-slider-value="[0,60]"/>

    <div class="timeScale"></div>

    <div class="timeScaleLabels">
         <span class="note pull-right">120 mins</span>
         <span class="note">0 mins</span>
    </div>
</div>

     <div class="checkbox">
       <label>
          <input type="checkbox" checked id="showIso"> {{I18n "analysis.show-isochrones"}}
       </label>

       <div id="compareLegend" class="indicator_box">

              <div class="legend-item">
                   <div class="colorbox" style="background-color:#e5b234;"></div>
                   <div class="legend-item-text">Scenario 2 No Change</div>
              </div>

              <div class="legend-item">
                   <div class="colorbox" style="background-color:#cc00cc;"></div>
                   <div class="legend-item-text">Scenario 2 New Coverage</div>
              </div>

              <div class="legend-item">
                   <div class="colorbox" style="background-color:#0000cc;"></div>
                   <div class="legend-item-text">Scenario 2 Faster</div>
              </div>

              <div class="legend-item">
                   <div class="colorbox" style="background-color:#cacaca;"></div>
                   <div class="legend-item-text">Not in range</div>
              </div>

         </div>

         <div id="legend" class="indicator_box">

              <div class="legend-item">
                   <div class="colorbox" style="background-color:#e5b234;"></div>
                   <div class="legend-item-text">Travel Time</div>
              </div>

              <div class="legend-item">
                   <div class="colorbox" style="background-color:#cacaca;"></div>
                   <div class="legend-item-text">Not in range</div>
              </div>

         </div>

     </div>
     <div class="checkbox">
       <label>
          <input type="checkbox" id="showPoints"> {{I18n "analysis.show-points"}}
       </label>
     </div>
     <div class="checkbox">
       <label>
          <input type="checkbox" id="showTransit"> {{I18n "analysis.show-transit"}}
       </label>
     </div>

</div>
