<div style="margin-top: 10px;" class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
          Settings
      </h5>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

		<h5>{{I18n "analysis.primary-indicator"}}</h5>
		<select id="primaryIndicator" class="primary-indicator form-control">
		
		</select>

		<h5>{{I18n "analysis.scenario-comparison"}}</h5>
		<select id="scenarioComparison" class="scenario-comparison form-control">
		  <option value="compare" {{#if compare}}selected{{/if}}>{{I18n "analysis.scenario.compare"}}</option>
		  <option value="no-comparison" selected{{#if noComparison}}selected{{/if}}>{{I18n "analysis.scenario.no-comparison"}}</option>
		</select>

		<h5>{{I18n "analysis.scenario-1"}}</h5>
		<select id="scenario1" class="scenario-list form-control">
		</select>

		<div style="margin-top: 10px;" class="btn-group mode-selector" data-toggle="buttons">
			  <label class="btn btn-default">
			    <input type="radio" name="mode1" id="modeCar" value="CAR"><span class="icon icon-car"></span>
			  </label>
			  <label class="btn btn-default active">
			    <input type="radio" name="mode1" id="modeBus" value="TRANSIT"><span class="icon icon-pedestrian"></span> + <span class="icon icon-bus"></span>
			  </label>
			  <label class="btn btn-default">
				    <input type="radio" name="mode2" id="modeBus" value="BIKE,TRANSIT"><span class="icon icon-bike"></span> + <span class="icon icon-bus"></span>
				  </label>
			  <label class="btn btn-default">
			    <input type="radio" name="mode1" id="modeBike" value="BIKE"><span class="icon icon-bike"></span>
			  </label>
			  <label class="btn btn-default">
			    <input type="radio" name="mode1" id="modePed" value="WALK"><span class="icon icon-pedestrian"></span>
			  </label>
		</div>


		<div id="scenario2-controls">
			<h5>{{I18n "analysis.scenario-2"}}</h5>
			<select id="scenario2" class="scenario-list form-control">
			</select>

			<div style="margin-top: 10px;" class="btn-group mode-selector" data-toggle="buttons">
				  <label class="btn btn-default">
				    <input type="radio" name="mode2" id="modeCar" value="CAR"><span class="icon icon-car"></span>
				  </label>
				  <label class="btn btn-default active">
				    <input type="radio" name="mode2" id="modeBus" value="TRANSIT"><span class="icon icon-pedestrian"></span> + <span class="icon icon-bus"></span>
				  </label>
				  <label class="btn btn-default">
				    <input type="radio" name="mode2" id="modeBus" value="BIKE,TRANSIT"><span class="icon icon-bike"></span> + <span class="icon icon-bus"></span>
				  </label>
				  <label class="btn btn-default">
				    <input type="radio" name="mode2" id="modeBike" value="BIKE"><span class="icon icon-bike"></span>
				  </label>
				  <label class="btn btn-default">
				    <input type="radio" name="mode2" id="modePed" value="WALK"><span class="icon icon-pedestrian"></span>
				  </label>
			</div>

		</div>

		<h5>Average Walk Speed: <span class="notes" id="walkSpeedValue"></span></h5>
		<input id="walkSpeedSlider" data-slider-id="walkSpeedSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="40" data-slider-step="1" data-slider-value="5"/>

		<h5>Average Bike Speed: <span class="notes" id="bikeSpeedValue"></span></h5>
		<input id="bikeSpeedSlider" data-slider-id="bikeSpeedSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="40" data-slider-step="1" data-slider-value="15"/>
	
	</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
          {{I18n "analysis.results"}}
      </h5>
    </div>
    <div id="collapseTwo" class="panel-collapse">
      <div class="panel-body">

      	<h5>Scenario 1</h5>
      	<div id="barChart1"></div>

      	<div id="comparisonChart">
	      	<h5>Scenario 2</h5>
	      	<div id="barChart2"></div>
	    </div>

      	<h5>Travel Time Range: <span class="notes" id="minTimeValue"></span>-<span class="notes" id="timeLimitValue"></span></h5>	

      	<input id="timeSlider1" data-slider-id="timeSlider" style="width: 380px;" type="text" data-slider-min="0" data-slider-max="120" data-slider-step="5" data-slider-value="[0,60]"/>
   	
		<div class="timeScale"></div>
		   	
		<div class="timeScaleLabels">
			<span class="note pull-right">120 mins</span>
			<span class="note">0 mins</span>
		</div>

		<div class="checkbox">
		    <label>
		      <input type="checkbox" checked id="showIso"> {{I18n "analysis.show-isochrones"}}
		    </label>
	 	</div>
	 	<div class="checkbox">
		    <label>
		      <input type="checkbox" id="showPoints"> {{I18n "analysis.show-points"}}
		    </label>
	 	</div>
	 	<div class="checkbox">
		    <label>
		      <input type="checkbox" id="showTransit"> {{I18n "analysis.show-transit"}}
		    </label>
	 	</div>
      	
      		<!-- <a href="#">export csv</a> | <a href="#">export shapefile</a>  -->
      </div>
    </div>
  </div>
</div>