<div class="pannel-header">
  {{#writeAllowed}}<button id="uploadShapefile" type="button" class="btn btn-default btn-xs pull-right">{{I18n "data-manager.upload-shapefile"}}</button>{{/writeAllowed}}
     <span class="glyphicon glyphicon-globe"></span> {{I18n "app.data.shapefiles"}}
</div>

<div id="main" style="padding: 10px;">

     <p>{{I18n "data-manager.shapefile-description"}}</p>

     <div id="loadingPointsets" style="margin-left: 15px; display: none;">
          <img src="/images/ajax-loader.gif"/> {{I18n "app.shared.loading"}}
     </div>

     <ul class="list-group" id="shapefileList">
     </ul>

</div>
