

<div class="login-body">

     <h4><strong><span style="color: #98b8eb;"><img src="/images/logo.png" style="height: 50px; margin-top: -5px; margin-right: 5px;"/> Transport</span></strong> Analyst</h4>

    <p>
        Transport Analyst is a tool to measure access to opportunities, such as jobs or parks, via public
        transport, walking, cycling, and driving. It is an open-source product built by <a href="http://conveyal.com/">Conveyal</a>.
        To learn more about the platform and how Conveyal can help you use it, <a href="http://conveyal.com/projects/analyst/">visit our website.</a>
    </p>

     <div id="invalidLogin" class="hidden alert alert-danger" role="alert">Incorrect username/password.</div>
     <form id="loginForm">
       <div class="form-group">
         <label for="username">{{I18n "app.shared.username"}}</label>
         <input type="text" class="form-control" id="username" name="username" placeholder="{{I18n "app.shared.username"}}" value="{{name}}">
       </div>
       <div class="form-group">
         <label for="password">{{I18n "app.shared.password"}}</label>
         <input type="password" class="form-control" id="password" name="password" placeholder="{{I18n "app.shared.password"}}" value="{{description}}">
       </div>

       <button type="submit" class="login btn btn-primary">{{I18n "app.shared.login"}}</button> <a href="/tutorial" class="btn btn-default">Tutorial</a>
    </form>
</div>
