<div class="pannel-header">
  {{#writeAllowed}}<button id="newQuery" type="button" class="btn btn-default btn-xs pull-right"> {{I18n "analysis.run-new-query"}}</button>{{/writeAllowed}}
     <span class="glyphicon glyphicon-cog"></span> {{I18n "analysis.multi-point"}}
</div>

<div style="padding: 10px;">
  <p>{{I18n "analysis.multi-point.description"}}</p>
</div>

<div id="detail" style="padding: 10px;">

     <div class="panel-group" id="createQueryForm">
       <div class="panel panel-default">
         <div class="panel-heading">
           <h5 class="panel-title">
               {{I18n "analysis.create-query"}}
           </h5>
         </div>
         <div id="collapseOne" class="panel-body" style="padding: 5px;">
             <div class="form-group">
               <label for="name">{{I18n "analysis.create-new-query-name"}}</label>
               <input type="text" class="form-control" id="name" name="name" placeholder="{{I18n "analysis.create-new-query-name"}}" value="">
             </div>

             <div class="form-group">
               <label for="shapefile">{{ I18n "analysis.choose-shapefile" }}</label>
               <select id="shapefile" class="shapefile form-control">
               </select>
             </div>

             <div id="quotaWarning">
             </div>

             <div class="form-group">
               <label>{{I18n "analysis.scenario"}}</label>
               <select id="scenario1" class="scenario-list form-control">
               </select>

               <div style="margin-top: 10px;" class="btn-group mode-selector" data-toggle="buttons">
                 <label class="btn btn-default">
                   <input type="radio" name="mode1" id="modeCar" value="CAR"><span class="icon icon-car"></span>
                 </label>
                 <label class="btn btn-default active">
                   <input type="radio" name="mode1" id="modeBus" value="WALK,TRANSIT"><span class="icon icon-pedestrian"></span> + <span class="icon icon-bus"></span>
                 </label>
                 <label class="btn btn-default">
                     <input type="radio" name="mode1" id="modeBus" value="BICYCLE,TRANSIT"><span class="icon icon-bike"></span> + <span class="icon icon-bus"></span>
                   </label>
                 <label class="btn btn-default">
                   <input type="radio" name="mode1" id="modeBike" value="BICYCLE"><span class="icon icon-bike"></span>
                 </label>
                 <label class="btn btn-default">
                   <input type="radio" name="mode1" id="modePed" value="WALK"><span class="icon icon-pedestrian"></span>
                 </label>
               </div>
             </div>

             <div class="form-group">
               <label for="dateText">{{I18n "analysis.date"}}</label>
               <div class="input-group date" id="date">
                 <input id="dateText" class="form-control pickDate" type="text" value="" />
                 <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
               </div>
             </div>

             <div class="clearfix">
               <div class="form-group pull-left" style="width: 180px">
                 <label for="fromTimeText">{{I18n "analysis.earliest-departure-time"}}</label>
                 <div class="input-group date" id="fromTime" style="width: auto">
                   <input id="fromTimeText" class="form-control pickTime" type="text" />
                   <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                 </div>
               </div>

               <div class="form-group pull-left" style="width: 180px" id="toTimeControls">
                 <label for="toTimeText">{{I18n "analysis.latest-departure-time"}}</label>
                 <div class="input-group date" id="toTime">
                   <input id="toTimeText" class="form-control pickTime" type="text" />
                   <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                 </div>
               </div>
             </div>

             <button class="btn btn-primary" id="createQuery">{{I18n "analysis.run-query"}}</button> <button class="btn btn-default" id="cancelQuery">{{I18n "app.shared.cancel"}}</button>
         </div>
       </div>
     </div>

     <div id="requestFailed" style="margin: 30px; display: none">
       <p><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;{{ I18n "analysis.failed" }}<p>
     </div>

     <div id="insufficientQuota" style="margin: 30px; display: none">
       <p><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;{{ I18n "analysis.insufficient-quota" }}<p>
     </div>

     <div id="main"></div>
</div>
