<div class="pannel-header">
  {{#writeAllowed}}<button id="newQuery" type="button" class="btn btn-default btn-xs pull-right"> {{I18n "analysis.run-new-query"}}</button>{{/writeAllowed}}
     <span class="glyphicon glyphicon-cog"></span> {{I18n "analysis.multi-point"}}
</div>

<div style="padding: 10px;">
  <p>{{I18n "analysis.multi-point.description"}}</p>
</div>

<div id="detail" style="padding: 10px;">

     <div class="panel-group" id="createQueryForm">
       <div class="panel panel-default">
         <div class="panel-heading">
           <h5 class="panel-title">
               {{I18n "analysis.create-query"}}
           </h5>
         </div>
         <div id="collapseOne" class="panel-body" style="padding: 5px;">
             <div class="form-group">
               <label for="name">{{I18n "analysis.create-new-query-name"}}</label>
               <input type="text" class="form-control" id="name" name="name" placeholder="{{I18n "analysis.create-new-query-name"}}" value="">
             </div>

             <div class="form-group">
               <label for="origin-shapefile">{{ I18n "analysis.origin-shapefile" }}</label>
               <select id="origin-shapefile" class="origin-shapefile form-control">
               </select>
             </div>

             <div class="form-group">
               <label for="destination-shapefile">{{ I18n "analysis.destination-shapefile" }}</label>
               <select id="destination-shapefile" class="destination-shapefile form-control">
               </select>
             </div>

             <div id="quotaWarning">
             </div>

             <div class="form-group">
               <label>{{I18n "analysis.scenario"}}</label>
               <select id="scenario1" class="scenario-list form-control">
               </select>

               <div style="margin-top: 10px;" class="btn-group mode-selector" data-toggle="buttons">
                 <label class="btn btn-default">
                   <input type="radio" name="mode1" id="modeCar" value="CAR"><span class="icon icon-car"></span>
                 </label>
                 <label class="btn btn-default active">
                   <input type="radio" name="mode1" id="modeBus" value="WALK,TRANSIT"><span class="icon icon-pedestrian"></span> + <span class="icon icon-bus"></span>
                 </label>
                 <label class="btn btn-default">
                     <input type="radio" name="mode1" id="modeBus" value="BICYCLE,TRANSIT"><span class="icon icon-bike"></span> + <span class="icon icon-bus"></span>
                   </label>
                 <label class="btn btn-default">
                   <input type="radio" name="mode1" id="modeBike" value="BICYCLE"><span class="icon icon-bike"></span>
                 </label>
                 <label class="btn btn-default">
                   <input type="radio" name="mode1" id="modePed" value="WALK"><span class="icon icon-pedestrian"></span>
                 </label>
               </div>
             </div>

             <div class="form-group">
               <label for="dateText">{{I18n "analysis.date"}}</label>
               <div class="input-group date" id="date">
                 <input id="dateText" class="form-control pickDate" type="text" value="" />
                 <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
               </div>
             </div>

             <div class="clearfix">
               <div class="form-group pull-left" style="width: 180px">
                 <label for="fromTimeText">{{I18n "analysis.earliest-departure-time"}}</label>
                 <div class="input-group date" id="fromTime" style="width: auto">
                   <input id="fromTimeText" class="form-control pickTime" type="text" />
                   <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                 </div>
               </div>

               <div class="form-group pull-left" style="width: 180px" id="toTimeControls">
                 <label for="toTimeText">{{I18n "analysis.latest-departure-time"}}</label>
                 <div class="input-group date" id="toTime">
                   <input id="toTimeText" class="form-control pickTime" type="text" />
                   <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                 </div>
               </div>
             </div>

             <div class="form-group">
                   <label><span class="notes" id="walkSpeedValue"></span></label>
               <input id="walkSpeedSlider" data-slider-id="walkSpeedSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="40" data-slider-step="1" data-slider-value="5"/>
             </div>

              <div class="form-group">
                  <label><span class="notes" id="walkTimeValue"></span></label>
                <input id="walkTimeSlider" data-slider-id="walkTimeSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="40" data-slider-step="1" data-slider-value="20"/>
              </div>

             <div class="form-group">
                   <label> <span class="notes" id="bikeSpeedValue"></span></label>
               <input id="bikeSpeedSlider" data-slider-id="bikeSpeedSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="40" data-slider-step="1" data-slider-value="15"/>
             </div>

              <div class="form-group">
                  <label><span class="notes" id="bikeTimeValue"></span></label>
                <input id="bikeTimeSlider" data-slider-id="bikeTimeSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="60" data-slider-step="1" data-slider-value="20"/>
              </div>

              <div class="form-group">
                <label><span class="notes" id="maxTransfersValue"></span></label>
                <input id="maxTransfersSlider" data-slider-id="maxTransfersSlider" style="width: 250px;" type="text" data-slider-min="0" data-slider-max="7" data-slider-step="1" data-slider-value="7"/>
              </div>

              <div class="form-group">
                <!--
                  the reachability threshold, see extensive javadoc on the parameter in ProfileRequest.
                  This is more of an advanced parameter, in the new UI we should probably have some sort of "advanced settings" pane where
                  settings like this are hidden.

                  The default here is zero, which is not really a recommended value but was the hard-wired value until Analyst Server 0.7.26
                  -->
                <label><span class="notes" id="reachabilityThresholdValue"></span></label>
                <input id="reachabilityThresholdSlider" data-slider-id="reachabilityThresholdSlider" style="width: 250px;" type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0"/>
              </div>
            </div>

            <div class="form-group">
              <label><span class="notes" id="iterationValue"></span></label>
              <input id="iterationSlider" data-slider-id="iterationSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="1000" data-slider-step="10" data-slider-value="220"/>
            </div>

            <div class="form-group">
              <label><span class="notes" id="ltsValue"></span></label>
              <input id="ltsSlider" data-slider-id="ltsSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="4" data-slider-step="1"
                data-slider-value="4" />
            </div>

            <div class="form-group">
              <label>
                {{I18n "analysis.use-max-fare"}}
                <input type="checkbox" id="useMaxFare" />
              </label>
            </div>

            <div class="form-group fare-controls">
              <label>{{I18n "analysis.max-fare"}}</label>
              <input type="number" id="maxFare" class="maxFareInput" value="200" />
            </div>

            <button class="btn btn-primary" id="createQuery">{{I18n "analysis.run-query"}}</button> <button class="btn btn-default" id="cancelQuery">{{I18n "app.shared.cancel"}}</button>
         </div>
       </div>
     </div>

     <div id="requestFailed" style="margin: 30px; display: none">
       <p><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;{{ I18n "analysis.failed" }}<p>
     </div>

     <div id="insufficientQuota" style="margin: 30px; display: none">
       <p><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;{{ I18n "analysis.insufficient-quota" }}<p>
     </div>

     <div id="main"></div>
</div>
