<div class="pannel-header">

     <span class="glyphicon glyphicon-cog"></span> Single-point Analysis
</div>

<div id="detail" style="padding: 10px;">

  <p>{{I18n "analysis.single-point-description"}}</p>

  <div style="margin-top: 10px;" class="panel-group" id="">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
          <button id="showSettings" type="button" class="btn btn-default btn-xs pull-right"> Show Settings</button>
          Query Settings
        </h5>
      </div>
      <div id="querySettings" class="panel-body" style="padding: 5px;">

        <div style="margin-top: 10px;" class="btn-group isochrone" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="isochrone" value="false" checked>{{I18n "analysis.accessibility"}}</input>
          </label>
          <label class="btn btn-default">
            <input type="radio" name="isochrone" value="true">{{I18n "analysis.isochrone"}}</input>
          </label>
        </div>

        <div class="form-group" id="shapefile-group">
           <label for="shapefile">{{I18n "analysis.shapefile"}}</label>
           <select id="shapefile" class="primary-indicator form-control"></select>

           <label for="shapefileColumn">{{I18n "analysis.shapefile-field"}}</label>
           <select id="shapefileColumn" class="primary-indicator form-control"></select>
         </div>

        <div class="form-group">
          <label for="boardingAssumption">Boarding assumption</label>
          <select id="boardingAssumption">
            <option value="WORST_CASE">Worst case (full headway)</option>
            <option value="HALF_HEADWAY">Expectation (half headway)</option>
            <option value="RANDOM">Monte Carlo</option>
            <option value="BEST_CASE">Best case (no wait time)</option>
          </select>
        </div>

         <div style="margin-top: 10px;" class="btn-group mode-selector" data-toggle="buttons">
           <label class="btn btn-default">
             <input type="radio" name="mode" id="modeCar" value="CAR"><span class="icon icon-car"></span>
           </label>
           <label class="btn btn-default active">
             <input type="radio" name="mode" id="modeBus" value="WALK,TRANSIT"><span class="icon icon-pedestrian"></span> + <span class="icon icon-bus"></span>
           </label>
           <label class="btn btn-default">
             <input type="radio" name="mode" id="modeBus" value="BICYCLE,TRANSIT"><span class="icon icon-bike"></span> + <span class="icon icon-bus"></span>
           </label>
           <label class="btn btn-default">
             <input type="radio" name="mode" id="modeBike" value="BICYCLE"><span class="icon icon-bike"></span>
           </label>
           <label class="btn btn-default">
             <input type="radio" name="mode" id="modePed" value="WALK"><span class="icon icon-pedestrian"></span>
           </label>
         </div>

         <div style="margin-top: 10px;" class="btn-group profile-selector" data-toggle="buttons">
           <label class="btn btn-default active">
             <input type="radio" class="profile" name="profile" value="true" checked />
             {{ I18n 'analysis.profile' }}
           </label>
           <label class="btn btn-default">
             <input type="radio" class="profile" name="profile" value="false" />
             {{ I18n 'analysis.exact-time' }}
           </label>
         </div>

       <div style="margin-top: 10px" class="form-group">
         <div class="btn-group which-selector which" data-toggle="buttons">
           <label class="btn btn-default">
             <input type="radio" name="which" value="WORST_CASE" />
             {{ I18n "analysis.worst-case-option" }}
           </label>

           <label class="btn btn-default">
             <input type="radio" name="which" value="POINT_ESTIMATE" />
             {{ I18n "analysis.point-estimate-option" }}
           </label>

           <label class="btn btn-default">
             <input type="radio" name="which" value="AVERAGE" />
             {{ I18n "analysis.point-estimate-option" }}
           </label>

           <label class="btn btn-default">
             <input type="radio" name="which" value="BEST_CASE" />
             {{ I18n "analysis.best-case-option" }}
           </label>

           <label class="btn btn-default">
             <input type="radio" name="which" value="SPREAD" />
             {{ I18n "analysis.spread-option" }}
           </label>
         </div>

         <div class="form-group" style="width: 180px">
           <label for="dateText">{{I18n "analysis.date"}}</label>
           <div class="input-group date" id="date">
             <input id="dateText" class="form-control pickDate" type="text" value="" />
             <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
           </div>
         </div>

         <div class="clearfix">
           <div class="form-group pull-left" style="width: 180px">
             <label for="fromTimeText">{{I18n "analysis.earliest-departure-time"}}</label>
             <div class="input-group date" id="fromTime" style="width: auto">
               <input id="fromTimeText" class="form-control pickTime" type="text" />
               <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
             </div>
           </div>

           <div class="form-group pull-left" style="width: 180px" id="toTimeControls">
             <label for="toTimeText">{{I18n "analysis.latest-departure-time"}}</label>
             <div class="input-group date" id="toTime">
               <input id="toTimeText" class="form-control pickTime" type="text" />
               <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
             </div>
           </div>
         </div>

         </div>

      	<div class="form-group">
           <label>{{I18n "analysis.scenario-comparison"}}</label>
      		<select id="scenarioComparison" class="scenario-comparison form-control">
      		  <option value="compare" {{#if compare}}selected{{/if}}>{{I18n "analysis.scenario.compare"}}</option>
      		  <option value="no-comparison" selected{{#if noComparison}}selected{{/if}}>{{I18n "analysis.scenario.no-comparison"}}</option>
      		</select>
      	</div>

      	<div class="form-group">
           <label for="scenario1">{{I18n "analysis.scenario-1"}}</label>
      		<select id="scenario1" class="scenario-list form-control">
      		</select>
        </div>

      	<div id="scenario2-controls">
      		<div class="form-group">
           		<label for="scenario2">{{I18n "analysis.scenario-2"}}</label>
      			<select id="scenario2" class="scenario-list form-control">
      			</select>
          </div>
      	</div>

      	<div class="form-group">
           	<label>Average Walk Speed: <span class="notes" id="walkSpeedValue"></span></label>
      		<input id="walkSpeedSlider" data-slider-id="walkSpeedSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="40" data-slider-step="1" data-slider-value="5"/>
      	</div>

      	<div class="form-group">
           	<label>Average Bike Speed: <span class="notes" id="bikeSpeedValue"></span></label>
      		<input id="bikeSpeedSlider" data-slider-id="bikeSpeedSlider" style="width: 250px;" type="text" data-slider-min="1" data-slider-max="40" data-slider-step="1" data-slider-value="15"/>
      	</div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        Query Results
      </h5>
    </div>
    <div class="panel-body" style="padding: 10px;">

        <div id="queryProcessing" style="margin: 30px;">
          <p><img src="/images/ajax-loader.gif"/>&nbsp;{{ I18n "analysis.processing" }}<p>
        </div>

        <div id="initializingCluster" style="margin: 30px;">
          <p><img src="/images/ajax-loader.gif"/>&nbsp;{{ I18n "analysis.initializing-cluster" }}<p>
        </div>

        <div id="requestFailed" style="margin: 30px;">
          <p><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;{{ I18n "analysis.failed" }}<p>
        </div>

        <div id="insufficientQuota" style="margin: 30px;">
          <p><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;{{ I18n "analysis.insufficient-quota" }}<p>
        </div>

        <div id="queryResults">
          <div id="chart"></div>
          <div id="chartLegend"></div>

          <div class="form-group">
            <label>Travel Time Range: <span class="notes" id="minTimeValue"></span>-<span class="notes" id="timeLimitValue"></span></label>

            <input id="timeSlider1" data-slider-id="timeSlider" style="width: 380px;" type="text" data-slider-min="0" data-slider-max="120" data-slider-step="5" data-slider-value="[0,60]"/>

            <div class="timeScale"></div>

            <div class="timeScaleLabels">
              <span class="note pull-right">120 mins</span>
              <span class="note">0 mins</span>
            </div>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" checked id="showIso"> {{I18n "analysis.show-isochrones"}}
            </label>

            <div id="compareLegend" class="indicator_box">

              <div class="legend-item">
                <div class="colorbox" style="background-color:#e5b234;"></div>
                <div class="legend-item-text">Scenario 2 No Change</div>
              </div>
              <br clear="all"/>
              <div class="legend-item">
                <div class="colorbox" style="background-color:#cc00cc;"></div>
                <div class="legend-item-text">Scenario 2 New Coverage</div>
              </div>
              <br clear="all"/>
              <div class="legend-item">
                <div class="colorbox" style="background-color:#0000cc;"></div>
                <div class="legend-item-text">Scenario 2 Faster</div>
              </div>
              <br clear="all"/>
              <div class="legend-item">
                <div class="colorbox" style="background-color:#cacaca;"></div>
                <div class="legend-item-text">Not in range</div>
              </div>

            </div>

            <div id="singleLegend" class="indicator_box">

              <div class="legend-item">
                <div class="colorbox" style="background-color:#e5b234;"></div>
                <div class="legend-item-text">Travel Time</div>
              </div>
              <br clear="all"/>
              <div class="legend-item">
                <div class="colorbox" style="background-color:#cacaca;"></div>
                <div class="legend-item-text">Not in range</div>
              </div>

            </div>

            <div id="isoComparisonLegend" class="indicator_box">

              <div class="legend-item">
                <div class="colorbox" style="background-color:#e5b234;"></div>
                <div class="legend-item-text">Scenario 1</div>
              </div>
              <br clear="all"/>
              <div class="legend-item">
                <div class="colorbox" style="background-color:#00c;"></div>
                <div class="legend-item-text">Scenario 2</div>
              </div>

          </div>

          <div id="isoSingleLegend" class="indicator_box">

            <div class="legend-item">
              <div class="colorbox" style="background-color:#e5b234;"></div>
              <div class="legend-item-text">Scenario 1</div>
            </div>

          </div>

          <div class="checkbox">
            <label>
              <!--  <input type="checkbox" id="showPoints"> {{I18n "analysis.show-points"}} -->
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="showTransit"> {{I18n "analysis.show-transit"}}
            </label>
          </div>


          <button id="downloadGis" type="button" class="btn btn-default btn-xs pull-right"> <span class="glyphicon glyphicon-download"></span> Download GIS</button>
          <button id="downloadCsv" type="button" class="btn btn-default btn-xs pull-right"> <span class="glyphicon glyphicon-download"></span> Download CSV</button>


        </div>


        </div>

    </div>
  </div>
