<input id="queryCheckbox" type="checkbox" data-id="{{id}}" /> <span id="queryName"/></span> <i style="margin-left: 5px;" id="deleteItem" class="pull-right glyphicon glyphicon-trash"></i>

<p>
	{{#unless complete}}
		<div class="progress" style="margin-bottom: 0px;">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%;">
				<strong>{{percent}}%</strong>
			</div>
		</div>
	{{/unless}}

	{{#if starting}}
		<small>{{ I18n "analysis.queued" }}</small>
	{{else}}
		{{#unless complete}}
			<small>
				{{#if assemblingResults}}
					{{ I18n "analysis.assembling-results" }}
				{{else}}
				  {{#if secondsRemaining}}
			 	    {{ I18n "analysis.number-complete-time-remaining" completePoints totalPoints hours minutes }}
					{{else}}
					  {{ I18n "analysis.number-complete" completePoints totalPoints }}
					{{/if}}
				{{/if}}
			<small>
		{{/unless}}
	{{/if}}

	{{#if complete}}
		<div id="settings">
			<form>
				<!-- preinitialize to no aggregation -->
				<div class="legendTitle">{{ I18n "analysis.accessibility-to" destinationShapefileName }}</div>

				<div class="form-group">
					<label for="shapefileColumn">{{I18n "analysis.shapefile-field"}}</label>
					<select id="shapefileColumn" class="primary-indicator form-control"></select>
				</div>

				<div class="form-group">
					<label>Travel Time Range: <span class="notes" id="timeLimitValue"></span></label>

					<input id="timeSlider" data-slider-id="timeSlider" style="width: 380px;" type="text" data-slider-min="0" data-slider-max="120" data-slider-step="5" data-slider-value="60"/>

					<div class="timeScale"></div>

					<div class="timeScaleLabels">
						<span class="note pull-right">{{ I18n "analysis.n-minutes" 120}}</span>
						<span class="note">{{ I18n "analysis.n-minutes" 0 }}</span>
					</div>
				</div>

				<div class="form-group">
					<div class="btn-group mode-selector whichMulti" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="which" value="WORST_CASE" />
							{{ I18n "analysis.worst-case-option" }}
						</label>

						<label class="btn btn-default active">
							<input type="radio" name="which" value="AVERAGE" checked />
							{{ I18n "analysis.average-option" }}
						</label>
						<label class="btn btn-default">
							<input type="radio" name="which" value="BEST_CASE" />
							{{ I18n "analysis.best-case-option" }}
						</label>
					</div>
				</div>

			<!-- bundle comparison checkbox and input dropdown -->
			<div class="form-group">
				<label>
					<input class="compareCheckbox" type="checkbox" data-id="{{id}}">
					{{ I18n "analysis.compare" }}
				</label>
			</div>

			<div class="form-group hidden" id="compareControls" data-id="{{id}}">
				<label for="compareTo" class="sr-only">{{ I18n "analysis.compare-to" }}</label>
				<select id="compareTo" class="form-control">
					<!-- this will be populated by the view with the pointsets that are comparable to this one -->
				</select>
			</div>

				<div class="form-group">
					<label>
						<input class="aggregationCheckbox" type="checkbox" data-id="{{id}}"/>
						{{ I18n "analysis.aggregate" }}
			  	</label>
				</div>

				<div class="form-group" id="aggregation-controls" style="display: none">
					<p class="bg-info" style="padding: 3px">{{ I18n "analysis.aggregate-summary" }}</p>

					<label for="groupBy">{{ I18n "analysis.aggregate-to" }}</label>
					<select id="groupBy" class="primary-indicator form-control">
					</select>

					<label for="weightByShapefile">{{ I18n "analysis.weight-by-shapefile" }}</label>
					<select id="weightByShapefile" class="primary-indicator form-control">
					</select>

					<label for="weightByAttribute">{{ I18n "analysis.weight-by-attribute" }}</label>
					<select id="weightByAttribute" class="primary-indicator form-control">
					</select>
				</div>

				<div id="legend" style="margin-top: 20px; margin-bottom: 20px;">
					<h5 class="legendTitle"></h5>
					<div id="legendData" class="indicator_box">


					</div>

					<div id="updatingMap" style="margin-left: 15px; display: none;">
						{{spinner}} {{ I18n "analysis.calculating" }}
					</div>
				</div>
				<button id="updateMap" type="button" class="btn btn-primary">{{ I18n "analysis.update-map"}}</button> <button id="exportShape" type="button" class="btn btn-default">{{ I18n "analysis.shapefile" }}</button>
			</form>
		</div>
	{{/if}}
</p>
