<div class="pannel-header">
     <span class="glyphicon glyphicon-road"></span> {{I18n "data-manager.create-scenario"}}     
</div>

<div id="main" style="padding: 10px;">
<form enctype="multipart/form-data">

    <div class="form-group">
         <p>
              {{I18n "data-manager.scenarios-description"}}
         </p>

      <select id="scenarioType" class="form-control">
           <option value="replace">{{I18n "data-manager.new-scenario"}}</option>
           <option value="augment">{{I18n "data-manager.augment-scenario"}}</option>
      </select>

      <select id="augmentScenarioId" class="form-control">
           <option value="replace">{{I18n "data-manager.new-scenario"}}</option>
           <option value="augment">{{I18n "data-manager.augment-scenario"}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>
        {{I18n "data-manager.scenario-gtfs-file"}}
      </label>
      <input name='file' type='file' class="form-control"/>
    </div>
    <div class="form-group">
      <label>
        {{I18n "data-manager.scenario-name"}}
      </label>
      <input name='name' type='text' class="form-control"/>
    </div>
    <div class="form-group">
      <label>
        {{I18n "data-manager.scenario-description"}}
      </label>
      <input name='description' type='text' class="form-control"/>
    </div>

<button id="scenarioSave" type="button" class="save btn btn-primary">{{I18n "app.shared.create"}}</button> <button type="button" id="scenarioCancel" class="cancel btn btn-default">{{I18n "app.shared.cancel"}}</button>
</form>

</div>
