<li data-id="{{id}}" class="list-group-item">
  <span class="pull-right">
    <span id="zoomToExtent" class="glyphicon glyphicon-fullscreen"></span>
    <span id="toggleLayer" class="glyphicon glyphicon-eye-close gray-icon"></span>
  </span>
  <span id="shapefileName"><strong>{{#if name}}{{name}}{{else}}<em>[no name]</em>{{/if}}</strong></span>
  <br/><span><small>{{filename}}, {{featureCount}} {{type}} features</small></span>

  <p><small><span id="shapefileDescription">{{#if description}}{{description}}{{else}}<em>[no description]</em>{{/if}}</span></small></p>

  <div id="shapefileAttributes">
    <ul class="list-group">
      {{# each shapeAttributes}}
        {{#if numeric}}
          <li class="list-group-item">
              <span id="attributeName" data-id="{{fieldName}}"><strong>{{#if name}}{{name}}{{else}}<em>[no name]</em>{{/if}}</strong></span>
              <br/><span><small>{{fieldName}}, min: {{min}}, max:{{max}}</small></span>
              <br/><span id="attributeDescription" data-id="{{fieldName}}"><small>{{#if description}}{{description}}{{else}}<em>[no description]</em>{{/if}}</small></span>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</li>
