<h5>{{I18n "data-manager.create-new-scenario"}}</h5>
<form enctype="multipart/form-data">
      
    <div class="form-group">
      <select id="scenarioType" class="form-control">
        <option value="augment">Augment Default Scenario</option>
        <option value="replace">Replace Default Scenario</option>
      </select>
    </div>
    <div class="form-group">
      <label>
        {{I18n "data-manager.scenario-gtfs-file"}}
      </label>
      <input name='file' type='file' class="form-control"/>
    </div>
    <div class="form-group">
      <label>
        {{I18n "data-manager.scenario-name"}}
      </label>
      <input name='name' type='text' class="form-control"/>
    </div>
    <div class="form-group">
      <label>
        {{I18n "data-manager.scenario-description"}}
      </label>
      <input name='description' type='text' class="form-control"/>
    </div>  

<button id="scenarioSave" type="button" class="save btn btn-primary">{{I18n "app.shared.create"}}</button> <button type="button" id="scenarioCancel" class="cancel btn btn-default">{{I18n "app.shared.cancel"}}</button>
</form>