<li data-id="{{id}}" class="list-group-item">

    <div class="btn-group btn-group-sm pull-right" aria-label="">
      <button type="button" class="btn btn-default"  id="zoomToExtent"><span class="glyphicon glyphicon-fullscreen"></span></button>
      <button type="button" class="btn btn-default" id="deleteShapefile"><span class="glyphicon glyphicon-trash"></span></button>
    </div>

  <span class="glyphicon glyphicon-globe"></span> <span id="shapefileName"><strong>{{#if name}}{{name}}{{else}}<em>[no name]</em>{{/if}}</strong></span>
  <br/><span><small>{{filename}}, {{featureCount}} {{type}} features</small></span>

  <p><small><span id="shapefileDescription">{{#if description}}{{description}}{{else}}<em>[no description]</em>{{/if}}</span></small></p>

  <div id="shapefileAttributes">

    <small>
    <table class="table">

        <tr>
          <th>View</th>
          <th>Attribute</th>
          <th>Min.</th>
          <th>Max.</th>
          <th>Color</th>
          <th></th>
        </tr>

          {{# each shapeAttributes}}
          {{#if numeric}}
          {{#unless hide}}
            <tr>
              <td><input type="radio" id="attributeRadio" name="attributeViewGroup" data-id="{{fieldName}}"/></td>
              <td><span id="attributeName" data-id="{{fieldName}}">{{#if name}}{{name}}{{else}}<em>[no name]</em>{{/if}}</span> ({{fieldName}})</td>
              <td>{{formatNumber min}}</td>
              <td>{{formatNumber max}}</td>
              <td>
                <span class="badge" id="colorPicker" style="background-color: {{color}}" data-id="{{fieldName}}">&nbsp;</span>
              </td>
              <td>
                <span class="glyphicon glyphicon-remove" id="removeAttribute" data-id="{{fieldName}}"></span>
              </td>
            </tr>
          {{/unless}}
          {{/if}}
          {{/each}}

    </table>
  </small>
  </div>
  <select id="hiddenAttributes">
    {{#each shapeAttributes}}
    {{#if hide}}
      <option value="{{fieldName}}">{{name}}</option>
    {{/if}}
    {{/each}}
  </select>

  <button id="addHidden" type="button" class="btn btn-default btn-xs">Add Hidden Attribute</button>
</li>
