<div class="form-group">
    <label for="shapefile">{{I18n "data-manager.select-shapefile"}}</label>
	<select id="shapefileSelect" name="shapeFileId" class="form-control">
	
		<option value="upload">{{I18n "data-manager.upload-shapefile"}}</option>
	</select>
</div>

<div id="uploadingShapefile" style="margin-left: 15px; display: none;">

	<img src="/assets/images/ajax-loader.gif"/> {{I18n "data-manager.upload-shapefile-uploading"}}

<hr/>
</div>

<div id="uploadShapefile" style="margin-left: 15px; display: none;">

	<form enctype="multipart/form-data">
	  <div class="form-group">
	    <label>
	      {{I18n "data-manager.upload-shapefile-file"}}
	    </label>
	    <input name='file' type='file' class="form-control"/>
	  </div>
	  <div class="form-group">
	    <label>
	      {{I18n "data-manager.upload-shapefile-name"}}
	    </label>
	    <input name='name' type='text' class="form-control"/>
	  </div>
	  <div class="form-group">
	    <label>
	      {{I18n "data-manager.upload-shapefile-description"}}
	    </label>
	    <input name='description' type='text' class="form-control"/>
	  </div>  
	  <button type="button" id="uploadShapefileButton" class="save btn btn-primary">{{I18n "data-manager.upload-shapefile"}}</button>
	</form>
<hr/>
</div>

