<div class="pannel-header">
	<button id="createPointset" type="button" class="btn btn-default btn-xs pull-right">{{I18n "app.shared.add"}} Point Set</button>
	<span class="glyphicon glyphicon-globe"></span> Point Sets
</div>

<div id="main" style="padding: 10px;">

	<p>{{I18n "data-manager.pointset-description"}}</p>

	<div id="loadingPointsets" style="margin-left: 15px; display: none;">
		<img src="/assets/images/ajax-loader.gif"/> {{I18n "app.shared.loading"}}
	</div>

	<ul class="list-group" id="pointsetList">
	</ul>

</div>
