<div class="pannel-header">
     <button id="uploadShapefile" type="button" class="btn btn-default btn-xs pull-right">Upload Shapefile</button>
     <span class="glyphicon glyphicon-globe"></span> Shapefiles
</div>

<div id="main" style="padding: 10px;">

     <p>{{I18n "data-manager.shapefile-upload-description"}}</p>

     <form enctype="multipart/form-data">
       <div class="form-group">
         <label>
           {{I18n "data-manager.upload-shapefile-file"}}
         </label>
         <input name='file' type='file' class="form-control"/>
       </div>
       <div class="form-group">
         <label>
           {{I18n "data-manager.upload-shapefile-name"}}
         </label>
         <input name='name' type='text' class="form-control"/>
       </div>
       <div class="form-group">
         <label>
           {{I18n "data-manager.upload-shapefile-description"}}
         </label>
         <input name='description' type='text' class="form-control"/>
       </div>
       <button type="button" id="uploadShapefileButton" class="save btn btn-primary">{{I18n "data-manager.upload-shapefile"}}</button>
       <button type="button" id="cancelShapefileButton" class="cancel btn btn-default">{{I18n "app.shared.cancel"}}</button>
     </form>

</div>

<div id="uploadingShapefile" style="margin-left: 15px; display: none;">
     <img src="/assets/images/ajax-loader.gif"/> {{I18n "data-manager.upload-shapefile-uploading"}}
</div>
