@(title: String)(content: Html)
@import play.i18n._


<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>

        <meta charset="utf-8"></meta>

        <!-- open sans -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
        

        <link rel="icon" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">

        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap-colorpicker/css/bootstrap-colorpicker.css")">

        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap-slider/bootstrap-slider.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap-tour/bootstrap-tour.css")">

        <link rel="stylesheet" href="@routes.Assets.at("lib/leaflet/leaflet.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/leaflet.draw/leaflet.draw.css")">

		    <link rel="stylesheet" href="@routes.Assets.at("lib/dc-js/dc.css")">

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/otpagraph.css")"/>

        <link href="@routes.Assets.at("lib/bootstrap-editable/css/bootstrap-editable.css")" rel="stylesheet">

        <link href="@routes.Assets.at("lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css")" rel="stylesheet">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

        <script src="https://cdn.jsdelivr.net/polyfills/polyfill.js"></script>

        <script src="@routes.Assets.at("lib/jquery-2.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/jquery.iframe-transport.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("lib/bootstrap-colorpicker/js/bootstrap-colorpicker.js")"></script>

        <script src="@routes.Assets.at("lib/moment/moment.min.js")"></script>
        <script src="@routes.Assets.at("lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js")"></script>

        <script src="@routes.Assets.at("lib/bootstrap-slider/bootstrap-slider.js")"></script>
        <script src="@routes.Assets.at("lib/bootstrap-tour/bootstrap-tour.js")"></script>

        <script src="@routes.Assets.at("lib/bootstrap-editable/js/bootstrap-editable.js")"></script>

        <script src="@routes.Assets.at("lib/underscore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/backbone.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/backbone.syphon.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/backbone.marionette.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/handlebars-v1.3.0.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("lib/leaflet/leaflet.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/leaflet.draw/leaflet.draw.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/Polyline.encoded.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("lib/d3.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("lib/crossfilter.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("lib/dc-js/dc.js")" type="text/javascript" charset="utf-8"></script>

        <script src="@routes.Application.jsMessages()" type="text/javascript"></script>
	</head>
    <body>

        <div id="app"></div>

     	<script>

               var Analyst = Analyst || {};

			Analyst.config = {};

			Analyst.config.templatePath = '@routes.Assets.at("templates")';

		</script>

		<script src="@routes.Assets.at("javascripts/util.js")" type="text/javascript"></script>

        @content

    </body>
</html>
